<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yueerba.internetofvehicles.internetofvehicles">

    <uses-sdk tools:overrideLibrary="cn.bingoogolapple.photopicker,cn.bingoogolapple.androidcommon.adapter" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.mapdemo.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_car"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.OrderHomeActivity" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.WebViewBaseActivity" />
        <activity android:name=".activity.MusicActivity" />

        <service
            android:name=".util.PlayerSDCardService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lzq.BIND" />
                <action android:name="com.lzq.PLAY" />
                <action android:name="com.lzq.PAUSE" />
                <action android:name="com.lzq.STOP" />
            </intent-filter>
        </service>

        <activity android:name=".activity.CarActivity" />
        <activity android:name=".activity.CarDetailActivity" />
        <activity android:name=".activity.CarAddActivity" />
        <activity android:name=".activity.CarZxingActivity" />
        <activity android:name=".activity.CarGeneratectivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KTl8pqH9Hfroi6F5qGqLpVdmaXPxGmct" />

        <activity
            android:name="com.mapdemo.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="定位"
            android:screenOrientation="portrait" />
        <activity android:name="com.mapdemo.MapFuJingActivity" />
        <activity android:name="com.mapdemo.MapSearchActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.6" />
            </intent-filter>
        </service>

        <activity android:name="com.mapdemo.DaoHangActivity" />
        <activity android:name="com.mapdemo.JYSearchActivity" />
        <activity android:name="com.mapdemo.JYDDActivity" />
        <activity android:name="com.mapdemo.JYEWMActivity" />
        <activity android:name=".activity.JYLBActivity" />
        <activity android:name=".activity.HomeRegistActivity" />
        <activity android:name=".activity.HomePwdActivity" />
        <activity
            android:name="com.mapdemo.BNDemoMainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"></activity>
        <activity
            android:name="com.mapdemo.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.mapdemo.JuHeSearchActivity"></activity>
    </application>

</manifest>